body {
	background-color: #9bb68f;	
	font-size: 100%;  
	font-family: Calibri, sans-serif;
	text-align: center;
}

h1 {
	border-style: double;
	font-family: corbel;
	font-size: 2.5em;
	font-style: bold;
	line-height: 2;
	margin: 0 0 10px 0;
	text-align: center;
	text-transform: uppercase;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 640px;
	margin: 0 auto;
}

td, th {
	border: 1px solid #CCC; 
	text-align: center;
}

td {
	background: #FAFAFA;
}

th {
	background: #E0E0E0;
	font-weight: bold;
}

