@import 'https://fonts.googleapis.com/css?family=Righteous';

nav.navbar.navbar-default .container .navbar-header .navbar-brand {
  color: #158cba;
  font-family: 'Righteous';
  font-size: 1.75em;
  font-weight: 200;
}

.thin-window {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}


div.container.home-page p {
  font-size: 1.15em;
}

.center-button button.btn, .form-group .center-button button.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table tbody tr td.total-label {
  text-align: right;
  vertical-align: middle;
}

table.table.order-confirm tbody tr td.heading, .table tbody tr td.total-confirm, .customer-confirm td:first-child {
  text-align: right;
  font-weight: bold;
}

table.isr-dates {
  width: 500px;
}
